@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100vw;
    background-color: #0C0C0C;
}

body.dissabled {
    overflow: hidden;
}

.promo {
    background-image: url("../assets/images/Image.png");
    height: 880px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.promo__text {
    padding: 176px 0px 176px 112px;
}

.promo__text h5 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12em;
    color: #949191;
}

.promo__text h5 span {
    color: #F2F1F1;
}

.promo__text h1 {
    font-family: "Oswald", sans-serif;
    font-size: 96px;
    font-weight: 500;
    line-height: 112px;
    letter-spacing: -0.01em;
    color: #615E5E;
    margin: 16px 0 32px 0;
    background: radial-gradient(ellipse 200px 350px at 55% 50%, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 1) 20%, rgb(97, 94, 94) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.promo__text h6 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #F2F1F1;
}

.promo__text a {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12em;
    text-align: center;
    color: #181818;
    background: linear-gradient(133.69deg, #F8CD8D 25.45%, #C58A34 70%, #966927 100%);
    background-size: 150% 100%;
    padding: 16px 40px;
    border-radius: 8px;
    margin-top: 48px;
    gap: 12px;
    border: none;
    transition: background-position 1s ease;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.promo__text a:hover {
    background-position: right center;
}

.promo__creatorsImg {
    width: 704px;
    height: 100%;
}

.promo__creatorsImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.audience {
    padding: 128px 80px 128px 80px;
    position: relative;
    z-index: 2
}

.audience__promo {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.audience .audience__promo h5 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12em;
    color: #F2F1F1;
}

.audience .audience__promo h2 {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.01em;
    margin-top: 8px;
    background: radial-gradient(ellipse 250px 250px at center, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 1) 20%, rgb(97, 94, 94) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.audience .audience__promo__button,
.audience__promo__button.mob {
    display: flex;
    gap: 16px;
}

.audience__promo__button.mob {
    display: none;
}

.audience .audience__promo__button button,
.audience__promo__button.mob button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: linear-gradient(133.69deg, #F8CD8D 25.45%, #C58A34 80%, #966927 100%);
    background-size: 150% 100%;
    border: none;
    position: relative;
    cursor: pointer;
    transition: background-position 0.3s ease-in-out;
}

.audience .audience__promo__button button:hover,
.audience__promo__button.mob button:hover {
    background-position: center right;
}

.audience .audience__promo__button button.next img,
.audience__promo__button.mob button.next img {
    transform: translate(-50%, -50%) rotate(180deg);
}

.audience .audience__promo__button button img,
.audience__promo__button.mob button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.audience__cards {
    padding: 0 32px;
    margin-top: 80px;
}

.audience__cards__list {
    display: flex;
    gap: 32px;
    width: calc(250% + 48px);
    list-style: none;
    transition: transform 0.6s ease-in-out;
}

.audience__cards__item {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 32px 32px 40px 32px;
    border-radius: 24px;
    background-color: #181818;
    z-index: 1;
}

.audience__cards__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #181818;
    border-radius: 24px;
    z-index: -2;
}

.audience__cards__item::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(133.69deg, rgba(248, 205, 141, 0.32) 25.45%, rgba(197, 138, 52, 0.32) 78.99%);
    border-radius: 25px;
    z-index: -2;
}

.audience__cards__item .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0C0C0C;
    top: 0;
    left: 0;
    border-radius: 24px;
    overflow: hidden;
    z-index: -1;
}

.audience__cards__item .shadow::after {
    content: "";
    display: block;
    position: absolute;
    width: 800px;
    height: 800px;
    background: radial-gradient(circle, #F8CD8D 0%, #0C0C0C 70%);
    top: -368px;
    right: -368px;
    border-radius: 50%;
    opacity: 0.16;
}

.audience__cards__item h4 {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.01em;
    color: #F2F1F1;
    margin-bottom: 8px;
}

.audience__cards__item p.audience__cards__dream {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #C9C8C8;
}

.audience__cards__info {
    display: flex;
    padding: 40px 0 8px 0;
    gap: 32px;
}

.audience__cards__info img {
    width: 180px;
    height: 222px;
    border-radius: 16px;
    object-fit: cover;
}

.audience__cards__textinfo h5 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #C9C8C8;
    margin-bottom: 12px;
}

.audience__cards__textinfo p.instlink {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.04em;
    background-color: #C9C8C8;
    color: #0C0C0C;
    padding: 2px 8px 4px 8px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.audience__cards__textinfo h6 {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #F2F1F1;
    margin-top: 16px;
}

.audience__cards__textinfo p.audience__cards__goals {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #C9C8C8;
    margin-top: 8px;
}


.possibilities {
    padding: 0 80px;
    position: relative;
    z-index: 1;
}

.possibilities__text {
    text-align: center;
}

.possibilities__text h5 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12em;
    color: #F2F1F1;
}

.possibilities__text h2 {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.01em;
    margin-top: 8px;
    background: radial-gradient(ellipse 250px 250px at 65% 50%, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 1) 20%, rgb(97, 94, 94) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.possibilities__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 32px;
    flex-direction: row;
}

.possibilities__item {
    flex: 1 1 calc(25% - 64px);
}

.possibilities__item img {
    width: 100%;
    object-fit: cover;
}

.possibilities__item p {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #F2F1F1;
    text-align: center;
}

.possibilities .main__shadow {
    position: absolute;
    width: 700px;
    height: 700px;
    left: 0;
    top: -128px;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, #F8CD8D 0%, #C58A34 25%, #0C0C0C 70%);
    z-index: -1;
    opacity: 0.2;
}

.joinus {
    padding: 128px 80px;
    position: relative;
    z-index: 1;
}

.joinus::before {
    content: "";
    display: block;
    position: absolute;
    width: 700px;
    height: 700px;
    right: -450px;
    bottom: -100px;
    background: radial-gradient(circle, #A51424 0%, #3F080E 70%, #0C0C0C 90%);
    z-index: -10;
    opacity: 0.35;
    filter: blur(20px);
}

.joinus::after {
    content: "";
    display: block;
    position: absolute;
    width: 700px;
    height: 700px;
    right: -350px;
    top: 460px;
    background: radial-gradient(circle, #A51424 0%, #3F080E 70%, #0C0C0C 90%);
    z-index: -10;
    opacity: 0.35;
    filter: blur(20px);
}

.joinus__text {
    text-align: center;
}

.joinus__text h5 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12em;
    color: #F2F1F1;
}

.joinus__text h2 {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.01em;
    margin-top: 8px;
    background: radial-gradient(ellipse 250px 250px at 65% 50%, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 1) 30%, rgb(97, 94, 94) 70%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.joinus__list {
    list-style: none;
    width: 100%;
    margin-top: 80px;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.joinus__item {
    width: 100%;
    position: relative;
    padding: 48px;
}

.joinus__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(12, 12, 12, 1);
    border-radius: 24px;
    z-index: -2;
}

.joinus__item::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(180deg, rgb(165, 20, 36) 0%, rgb(63, 8, 14) 100%);
    border-radius: 25px;
    z-index: -2;
}

.joinus__item .shadow {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 24px;
    overflow: hidden;
    z-index: -1;
}

.joinus__item .shadow::before {
    content: "";
    position: absolute;
    display: block;
    width: 900px;
    height: 900px;
    background: red;
    border-radius: 50%;
    top: -480px;
    left: -280px;
    background: radial-gradient(circle, rgba(165, 20, 36, 1) 0%, rgba(63, 8, 14, 1) 70%, rgba(12, 12, 12, 1) 90%);
    opacity: 35%;
    filter: blur(50px);
}

.joinus__promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.joinus__promo h3 {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.01em;
    color: #F2F1F1;
}

.joinus__promo div.joinus__results {
    background: linear-gradient(180deg, #A51424 0%, #3F080E 100%);
    border-radius: 16px;
    padding: 32px;
    width: 536px;
}

.joinus__results h4 {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #F2F1F1;
    margin-bottom: 12px;
}

.joinus__results p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F2F1F1;
}

.joinus__program {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.joinus__plan,
.joinus__video {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.joinus__video {
    width: 536px;
}

.joinus__plan__item,
.joinus__video__item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.joinus__plan__item p,
.joinus__video__item p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F2F1F1;
}

.joinus__video__heading {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #F2F1F1;
}

.tariffs {
    position: relative;
}


.tariffs .main__shadow {
    position: absolute;
    width: 700px;
    height: 700px;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
    background: radial-gradient(circle, #F8CD8D 0%, #C58A34 25%, #0C0C0C 70%);
    z-index: -10;
    opacity: 0.2;
}

.tariffs__heading {
    text-align: center;
}

.tariffs__heading h5 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12em;
    color: #F2F1F1;
}

.tariffs__heading h2 {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.01em;
    margin-top: 8px;
    background: radial-gradient(ellipse 250px 250px at 68% 50%, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 1) 30%, rgb(97, 94, 94) 70%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.tarrifs__list {
    list-style: none;
    display: flex;
    padding: 0 112px;
    margin-top: 80px;
    gap: 32px;
    align-items: flex-start;
}

.tarrifs__item {
    padding: 132px 32px 40px 32px;
    border-radius: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: calc((100% - 64px) / 3);
}

.tarrifs__item img.tarrifs__tablet {
    width: 150px;
    position: absolute;
    top: -47.5px;
    left: 50%;
    transform: translateX(-40%);
}

.recomandation {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.04em;
    margin-bottom: -24px;
    color: #F2F1F1;
    background: linear-gradient(133.69deg, #F8CD8D 25.45%, #C58A34 78.99%);
    padding: 4px 12px 6px 12px;
    border-radius: 8px;
}

.tarrifs__item h4 {
    font-family: "Oswald", sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.01em;
    color: #F2F1F1;
}

.tarrifs__item h6 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.01em;
    color: #F2F1F1;
    text-decoration: line-through;
    margin: -24px 0 -48px 0;
    opacity: 0.6;
}

.tarrifs__program__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tarrifs__program__list li {
    display: flex;
    align-items: center;
    gap: 12px;
}

.tarrifs__program__list li p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F2F1F1;
}

.tarrifs__program__list li p.crossed {
    text-decoration: line-through;
}

.tarrifs__item button {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    background: linear-gradient(133.69deg, #F8CD8D 25.45%, #C58A34 60%, #966927 100%);
    background-size: 150% 100%;
    color: #181818;
    border: none;
    width: 100%;
    padding: 14px 0;
    border-radius: 8px;
    transition: background-position 0.3s ease-in-out;
    cursor: pointer;
}

.tarrifs__item button:hover {
    background-position: 40% 50%;
}

.tarrifs__item:first-child::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0C0C0C;
    border-radius: 24px;
    z-index: -2;
}

.tarrifs__item:first-child::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(133.69deg, rgba(248, 205, 141, 0.32) 25.45%, rgba(197, 138, 52, 0.32) 78.99%);
    border-radius: 25px;
    z-index: -2;
}

.tarrifs__item .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0C0C0C;
    top: 0;
    left: 0;
    border-radius: 24px;
    overflow: hidden;
    z-index: -1;
}

.tarrifs__item .shadow::after {
    content: "";
    display: block;
    position: absolute;
    width: 800px;
    height: 800px;
    background: radial-gradient(circle, #F8CD8D 0%, #0C0C0C 70%);
    top: -320px;
    right: -320px;
    border-radius: 50%;
    opacity: 0.25;
}

.tarrifs__item:nth-child(2) {
    background: #F2F1F1;
}

.tarrifs__item:nth-child(3) {
    background: linear-gradient(180deg, #A51424 0%, #3F080E 100%);
}

.tarrifs__item:nth-child(2) h4 {
    color: #181818;
}

.tarrifs__item:nth-child(2) h6 {
    color: #181818;
    opacity: 0.6;
}

.tarrifs__item:nth-child(2) button {
    background: #181818;
    color: #F2F1F1;
    border: 1px solid #302F2F;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.tarrifs__item:nth-child(2) button:hover {
    color: #cdcdcd;
}

.tarrifs__item:nth-child(2) li img {
    filter: invert(1);
}

.tarrifs__item:nth-child(2) li p {
    color: #181818;
}

.installment {
    padding: 128px 112px;
}

.installment__blocks {
    padding: 64px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    position: relative;
    background-color: #181818;
    border-radius: 24px;
    overflow: hidden;
}

.installment__blocks .background {
    position: absolute;
    bottom: 0;
    left: 0;
}

.promo__and__logo h2 {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.01em;
    color: #F2F1F1;
    margin-bottom: 32px;
}

.addinfo__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.addinfo__item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.addinfo__item p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #C9C8C8;
}

.addinfo a {
    border: none;
    background: linear-gradient(133.69deg, #F8CD8D 25.45%, #C58A34 70%, #966927 100%);
    background-size: 120% 100%;
    border-radius: 8px;
    padding: 14px 32px;
    color: #0C0C0C;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin-top: 48px;
    transition: background-position 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
}

.addinfo a:hover {
    background-position: center right;
}

.results {
    padding: 0 80px;
    position: relative;
}

.results .main__shadow {
    position: absolute;
    width: 700px;
    height: 700px;
    right: 0;
    bottom: 0;
    transform: translate(40%, 50%);
    background: radial-gradient(circle, #F8CD8D 0%, #C58A34 25%, #0C0C0C 70%);
    z-index: -10;
    opacity: 0.2;
}

.results__promo {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 80px;
}

.results .results__promo h5 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12em;
    color: #F2F1F1;
}

.results .results__promo h2 {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.01em;
    margin-top: 8px;
    background: radial-gradient(ellipse 250px 250px at center, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 1) 20%, rgb(97, 94, 94) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.results .results__promo__button,
.results__promo__button.mob {
    display: flex;
    gap: 16px;
}

.results .results__promo__button button,
.results__promo__button.mob button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: linear-gradient(133.69deg, #F8CD8D 25.45%, #C58A34 80%, #966927 100%);
    background-size: 150% 100%;
    border: none;
    position: relative;
    cursor: pointer;
    transition: background-position 0.3s ease-in-out;
}

.results .results__promo__button button:hover,
.results__promo__button.mob button:hover {
    background-position: right center;
}

.results .results__promo__button button.next img,
.results__promo__button.mob button.next img {
    transform: translate(-50%, -50%) rotate(180deg);
}

.results .results__promo__button button img,
.results__promo__button.mob button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.results__promo__button.mob {
    display: none;
}

.results__slider {
    padding: 0 32px;
}

.results__slider__list {
    display: flex;
    gap: 32px;
    width: calc((100%/3*8) + 54px);
    list-style: none;
    transition: transform 0.6s ease-in-out;
}

.results__slider__item {
    width: 100%;
    height: 600px;
    border-radius: 24px;
    background: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.results__slider__item img {
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    object-fit: cover;
    border-radius: 16px;
}

.results__slider__item p {
    position: absolute;
    display: inline-block;
    width: 220px;
    left: 50%;
    bottom: 32px;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    transform: translate(-50%);
    background-color: #242323;
    color: #F2F1F1;
    padding: 10px 24px 12px 24px;
    border-radius: 20px;
    text-align: center;
}

.chosetarrifs {
    padding: 128px 112px 0 112px;
}

.chosetarrifs__blocks {
    padding: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
}

.chosetarrifs__text h2 {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.01em;
    color: #F2F1F1;
    margin-bottom: 24px;
}

.chosetarrifs__text p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #C9C8C8;
    max-width: 528px;
}

.chosetarrifs__blocks img {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scaleX(-1);
}

.chosetarrifs__blocks a {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12em;
    color: #0C0C0C;
    background: linear-gradient(133.69deg, #F8CD8D 25.45%, #C58A34 70%, #966927 100%);
    background-size: 150% 100%;
    border-radius: 8px;
    padding: 16px 40px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: background-position 0.3s ease-in-out;
    display: inline-block;
    text-decoration: none;
}

.chosetarrifs__blocks a:hover {
    background-position: right center;
}

.accordion {
    padding: 128px 0 96px 0;
}

.accordion__list {
    max-width: 768px;
    margin: 0 auto;
    padding-top: 80px;
}

.accordion__heading {
    text-align: center;
}

.accordion__heading h5 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12em;
    color: #F2F1F1;
}

.accordion__heading h2 {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.01em;
    margin-top: 8px;
    background: radial-gradient(ellipse 250px 250px at 68% 50%, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 1) 30%, rgb(97, 94, 94) 70%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.accordion__item {
    border-top: 1px solid #302F2F;
    position: relative;
}

.accordion__item:first-child {
    border-top: none;
}


.accordion__header {
    width: 100%;
    background: none;
    border: none;
    padding: 24px 0 32px 0;
    font-size: 18px;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #F2F1F1;
    text-align: left;
}

.accordion__header::after {
    content: url("../assets/images/button.svg");
    position: absolute;
    top: 24px;
    right: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.accordion__header.active::after {
    transform: scaleY(-1) translateY(5px);
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion__content.active {
    max-height: 500px;
}

.accordion__content p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    color: #C9C8C8;
}

footer {
    padding: 32px 112px 64px 112px;
    position: relative;
}

.footer__conteiner {
    background-color: #181818;
    border-radius: 24px;
    padding: 64px 64px 48px 64px;
}

.footer__sections {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 128px;
}

.footer__logo {
    width: 110px;
}

.footer__list {
    list-style: none;
}

.footer__list .footer__item a {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #C9C8C8;
    text-decoration: none;
    padding: 12px 16px;
    transition: color 0.3s ease-in-out;
}

.footer__list .footer__item a:hover {
    color: #F2F1F1;
}

.footer__social__list {
    display: flex;
    gap: 32px;
}

.footer__social__item {
    width: 295px;
    background: #242323;
    border-radius: 16px;
}

.footer__social__item button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    padding: 24px;
    gap: 32px;
    position: relative;
}

.footer__social__item button::after {
    content: url("../assets/images/socialarrow.svg");
    position: absolute;
    top: 24px;
    right: 24px;
}

.footer__social__item button h5 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #F2F1F1;
    text-align: left;
    max-width: 200px;
}

.footer__social__item button .img__wrapper {
    background: linear-gradient(133.69deg, #F8CD8D 25.45%, #C58A34 78.99%);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

.footer__social__item:nth-child(2) button .img__wrapper {
    border-radius: 50%;
}

.footer__social__item:nth-child(2) button .img__wrapper img {
    transform: translate(-1px, 1px);
}

.copyright {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #615E5E;
    padding-top: 32px;
    margin-top: 64px;
    border-top: 1px solid #242323;
}

footer .main__shadow {
    position: absolute;
    width: 700px;
    height: 700px;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, #F8CD8D 0%, #C58A34 25%, #0C0C0C 70%);
    z-index: -1;
    opacity: 0.2;
}


.form__block {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50000;
    background: #0C0C0CCC;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.form__block.show {
    opacity: 1;
    visibility: visible;
}

.form__section {
    width: 400px;
    background-color: #F2F1F1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.form__section img {
    position: absolute;
    top: 22px;
    right: 22px;
    cursor: pointer;
    padding: 10px;
}

.form__section h4 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #0C0C0C;
}

.form__section .text__and__price {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    margin: 24px 0;
    border-bottom: solid 1px #C9C8C8;
    border-top: solid 1px #C9C8C8;
}

.form__section .text__and__price p.text {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #615E5E;
}

.form__section .text__and__price p.price {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #615E5E;
}

.form__section .sum {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #0C0C0C;
    align-self: flex-end;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.form label {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 6px;
    color: #302F2F;
}

.form input {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
    color: #615E5E;
    background-color: transparent;
    padding: 10px 14px;
    border-radius: 8px;
    border: solid 1px #C9C8C8;
    transition: all 0.3s ease-in-out;
}

.form input.error {
    border: solid 1px #F04438;
}

.form input.error::placeholder {
    color: #F04438;
}

.form h6 {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #615E5E;
    align-self: flex-end;
}

.form button {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #181818;
    padding: 14px 0;
    border: none;
    border-radius: 8px;
    background: linear-gradient(133.69deg, #F8CD8D 25.45%, #C58A34 70%, #966927 100%);
    background-size: 150% 100%;
    cursor: pointer;
    transition: background-position 0.3s ease-in-out;
    margin-top: 24px;
}

.form button:hover {
    background-position: center right;
}

.privacy {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #949191;
    margin-top: 16px;
}

.privacy span {
    font-weight: 500;
    color: #475467;
}


@media (max-width: 500px) {

    .promo {
        height: 1006px;
        flex-direction: column;
        background-position: 60% 10%;
    }

    .promo__text {
        padding: 80px 16px 0 16px;
        text-align: center;
        align-items: center;
    }

    .promo__text h1 {
        font-size: 56px;
        font-weight: 500;
        line-height: 72px;
        letter-spacing: -0.01em;
    }

    .promo__text h5 {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
    }

    .promo__text h6 {
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.02em;
    }

    .promo__text a {
        width: 100%;
    }

    .promo__creatorsImg {
        width: auto;
        height: auto;
        text-align: center;
    }

    .promo__creatorsImg img {
        width: 343px;
        height: 550px;
    }

    .audience {
        padding: 96px 0 0 0;
    }

    .audience .audience__promo h5 {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
    }

    .audience .audience__promo h2 {
        font-size: 48px;
        font-weight: 500;
        line-height: 64px;
        letter-spacing: -0.01em;
    }

    .audience .audience__promo .audience__promo__button {
        display: none;
    }

    .audience__cards {
        margin-top: 48px;
        padding: 0 16px;
        overflow-x: hidden;
    }

    .audience__promo {
        padding: 0 16px;
    }

    .audience__cards__list {
        width: calc(500% + 132px);
    }

    .audience__cards__item {
        height: auto;
        padding: 24px 24px 32px 24px;
        transform: translateY(1px);
    }

    .audience__promo__button.mob {
        display: flex;
        justify-content: center;
        margin-top: 48px;
    }

    .audience__cards__info {
        flex-direction: column;
        padding-top: 24px;
    }

    .audience__cards__info img {
        order: 2;
        width: 100%;
        height: 55vw;
    }

    .possibilities {
        padding: 96px 16px 0 16px;
    }

    .possibilities__text h5 {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
    }

    .possibilities__text h2 {
        font-size: 48px;
        font-weight: 500;
        line-height: 64px;
        letter-spacing: -0.01em;
    }

    .possibilities__list {
        row-gap: 16px;
        column-gap: 32px;
        margin-top: 48px;
    }

    .possibilities__item {
        flex: 1 1 calc(50% - 16px);
    }

    .joinus {
        padding: 96px 16px 0 16px;
        overflow: hidden;
    }

    .joinus::before {
        width: 600px;
        height: 600px;
        right: calc(50% - 300px);
        bottom: 200px;
        opacity: 0.4;
    }

    .joinus::after {
        width: 400px;
        height: 400px;
        right: -120px;
        top: 150px;
        opacity: 0.4;
    }

    .joinus__text h5 {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
    }

    .joinus__text h2 {
        font-size: 48px;
        font-weight: 500;
        line-height: 64px;
        letter-spacing: -0.01em;
    }

    .joinus__list {
        margin-top: 48px;
        padding: 0;
    }

    .joinus__item {
        padding: 24px 24px 32px 24px;
    }

    .joinus__promo {
        flex-direction: column;
        gap: 32px;
    }

    .joinus__promo div.joinus__results {
        padding: 16px 16px 24px 16px;
        width: 100%;
    }

    .joinus__results p {
        max-width: 300px;
    }

    .joinus__results p br {
        display: none;
    }

    .joinus__program {
        flex-direction: column;
    }

    .joinus__video {
        margin-top: 32px;
        width: auto;
    }

    .tariffs {
        padding: 96px 16px 0 16px;
    }

    .tariffs__heading h5 {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
    }

    .tariffs__heading h2 {
        font-size: 48px;
        font-weight: 500;
        line-height: 64px;
        letter-spacing: -0.01em;
    }

    .tarrifs__list {
        padding: 0;
        flex-direction: column;
        gap: 72px;
    }

    .tarrifs__item {
        width: 100%;
    }

    .installment {
        padding: 96px 16px 0 16px;
    }

    .installment__blocks {
        padding: 32px 24px 48px 24px;
        flex-direction: column;
        gap: 48px;
    }

    .promo__and__logo h2 {
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
        letter-spacing: -0.01em;
    }

    .promo__and__logo img {
        width: 300px;
    }

    .addinfo {
        z-index: 100;
    }

    .results {
        padding: 96px 0 0 0;
        overflow-x: hidden;
    }

    .results .main__shadow {
        width: 600px;
        height: 600px;
        bottom: 0;
        right: -50%;
        transform: none;
    }

    .results__promo {
        padding: 0 16px;
    }

    .results .results__promo h5 {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
    }

    .results .results__promo h2 {
        font-size: 48px;
        font-weight: 500;
        line-height: 64px;
        letter-spacing: -0.01em;
    }

    .results .results__promo__button {
        display: none;
    }

    .results__slider {
        padding: 0 16px;
        overflow: hidden;
    }

    .results__slider__list {
        width: calc(800% + 224px);
    }

    .results__promo__button.mob {
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }

    .chosetarrifs {
        padding: 96px 16px 0 16px;
    }

    .chosetarrifs__blocks {
        padding: 32px 24px 48px 24px;
        flex-direction: column;
    }

    .chosetarrifs__text h2 {
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
        letter-spacing: -0.01em;
        margin-top: 16px;
    }

    .chosetarrifs__text p {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
    }

    .chosetarrifs__blocks a {
        margin-top: 48px;
    }

    .chosetarrifs__blocks img {
        width: 200%;
        right: -10%;
    }

    .accordion {
        padding: 96px 16px 0 16px;
    }

    .accordion__heading h5 {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
    }

    .accordion__heading h2 {
        font-size: 48px;
        font-weight: 500;
        line-height: 64px;
        letter-spacing: -0.01em;
    }

    .accordion__list {
        padding-top: 48px;
    }

    .accordion__header {
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.02em;
    }

    .accordion__content p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.02em;
    }

    footer {
        padding: 32px 16px 64px 16px;
    }

    .footer__conteiner {
        padding: 48px 24px 32px 24px;
    }

    .footer__sections {
        flex-direction: column;
        gap: 24px;
    }

    .footer__menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 32px;
    }

    .footer__list .footer__item {
        text-align: center;
    }

    .footer__social__list {
        flex-direction: column;
        width: 100%;
        gap: 24px;
    }

    .footer__social__item {
        width: 100%;
    }

    .copyright {
        margin-top: 48px;
    }

    .form__section {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .audience__cards__item:nth-child(1) img {
        object-position: top center;
    }

    .audience__cards__item:nth-child(4) img {
        object-position: 0 20%;
    }
}