@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    max-width: 100vw;
    background-color: #0C0C0C;
}

.promo {
    background-image: url("../assets/images/Image.png");
    height: 880px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.promo__text {
    padding: 176px 0px 176px 112px;
}

.promo__text h5 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12em;
    color: #949191;
}

.promo__text h5 span {
    color: #F2F1F1;
}

.promo__text h1 {
    font-family: "Oswald", sans-serif;
    font-size: 96px;
    font-weight: 500;
    line-height: 112px;
    letter-spacing: -0.01em;
    color: #615E5E;
    margin: 16px 0 32px 0;
    background: radial-gradient(ellipse 200px 350px at 55% 50%, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 1) 20%, rgb(97, 94, 94) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.promo__text h6 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #F2F1F1;
}

.promo__text button {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12em;
    text-align: center;
    color: #181818;
    background: linear-gradient(133.69deg, #F8CD8D 25.45%, #C58A34 78.99%);
    padding: 16px 40px;
    border-radius: 8px;
    margin-top: 48px;
    gap: 12px;
    border: none;
}

.promo__creatorsImg {
    width: 704px;
    height: 100%;
}

.promo__creatorsImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.audience {
    padding: 128px 80px 128px 80px;
    position: relative;
    z-index: 2
}

.audience__promo {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.audience .audience__promo h5 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12em;
    color: #F2F1F1;
}

.audience .audience__promo h2 {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.01em;
    margin-top: 8px;
    background: radial-gradient(ellipse 250px 250px at center, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 1) 20%, rgb(97, 94, 94) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.audience .audience__promo__button {
    display: flex;
    gap: 16px;
}

.audience .audience__promo__button button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: linear-gradient(133.69deg, #F8CD8D 25.45%, #C58A34 78.99%);
    border: none;
    position: relative;
}

.audience .audience__promo__button button.next img {
    transform: translate(-50%, -50%) rotate(180deg);
}

.audience .audience__promo__button button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.audience__cards {
    padding: 0 32px;
    margin-top: 80px;
}

.audience__cards__list {
    display: flex;
    gap: 32px;
    width: calc(250% + 48px);
    list-style: none;
}

.audience__cards__item {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 414px;
    padding: 32px 32px 40px 32px;
    border-radius: 24px;
    background-color: #181818;
    z-index: 1;
}

.audience__cards__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #181818;
    border-radius: 24px;
    z-index: -2;
}

.audience__cards__item::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(133.69deg, rgba(248, 205, 141, 0.32) 25.45%, rgba(197, 138, 52, 0.32) 78.99%);
    border-radius: 25px;
    z-index: -2;
}

.audience__cards__item .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0C0C0C;
    top: 0;
    left: 0;
    border-radius: 24px;
    overflow: hidden;
    z-index: -1;
}

.audience__cards__item .shadow::after {
    content: "";
    display: block;
    position: absolute;
    width: 800px;
    height: 800px;
    background: radial-gradient(circle, #F8CD8D 0%, #0C0C0C 70%);
    top: -368px;
    right: -368px;
    border-radius: 50%;
    opacity: 0.16;
}

.audience__cards__item h4 {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.01em;
    color: #F2F1F1;
    margin-bottom: 8px;
}

.audience__cards__item p.audience__cards__dream {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #C9C8C8;
}

.audience__cards__info {
    display: flex;
    padding: 40px 0 8px 0;
    gap: 32px;
}

.audience__cards__info img {
    width: 180px;
    height: 222px;
    border-radius: 16px;
    object-fit: cover;
}

.audience__cards__textinfo h5 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #C9C8C8;
    margin-bottom: 12px;
}

.audience__cards__textinfo p.instlink {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.04em;
    background-color: #C9C8C8;
    color: #0C0C0C;
    padding: 2px 8px 4px 8px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.audience__cards__textinfo h6 {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #F2F1F1;
    margin-top: 16px;
}

.audience__cards__textinfo p.audience__cards__goals {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #C9C8C8;
    margin-top: 8px;
}


.possibilities {
    padding: 0 80px;
    position: relative;
    z-index: 1;
}

.possibilities__text {
    text-align: center;
}

.possibilities__text h5 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12em;
    color: #F2F1F1;
}

.possibilities__text h2 {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.01em;
    margin-top: 8px;
    background: radial-gradient(ellipse 250px 250px at 65% 50%, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 1) 20%, rgb(97, 94, 94) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.possibilities__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 32px;
    flex-direction: row;
}

.possibilities__item {
    flex: 1 1 calc(25% - 64px);
}

.possibilities__item img {
    width: 100%;
    object-fit: cover;
}

.possibilities__item p {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #F2F1F1;
    text-align: center;
}

.possibilities .main__shadow {
    position: absolute;
    width: 700px;
    height: 700px;
    left: 0;
    top: -128px;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, #F8CD8D 0%, #C58A34 25%, #0C0C0C 70%);
    z-index: -1;
    opacity: 0.2;
}

.joinus {
    padding: 128px 80px;
    position: relative;
    z-index: 1;
}

.joinus::before {
    content: "";
    display: block;
    position: absolute;
    width: 700px;
    height: 700px;
    right: -450px;
    bottom: -100px;
    background: radial-gradient(circle, #A51424 0%, #3F080E 70%, #0C0C0C 90%);
    z-index: -10;
    opacity: 0.35;
    filter: blur(20px);
}

.joinus::after {
    content: "";
    display: block;
    position: absolute;
    width: 700px;
    height: 700px;
    right: -350px;
    top: 460px;
    background: radial-gradient(circle, #A51424 0%, #3F080E 70%, #0C0C0C 90%);
    z-index: -10;
    opacity: 0.35;
    filter: blur(20px);
}

.joinus__text {
    text-align: center;
}

.joinus__text h5 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12em;
    color: #F2F1F1;
}

.joinus__text h2 {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.01em;
    margin-top: 8px;
    background: radial-gradient(ellipse 250px 250px at 65% 50%, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 1) 30%, rgb(97, 94, 94) 70%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.joinus__list {
    list-style: none;
    width: 100%;
    margin-top: 80px;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.joinus__item {
    width: 100%;
    position: relative;
    padding: 48px;
}

.joinus__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(12, 12, 12, 1);
    border-radius: 24px;
    z-index: -2;
}

.joinus__item::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(180deg, rgb(165, 20, 36) 0%, rgb(63, 8, 14) 100%);
    border-radius: 25px;
    z-index: -2;
}

.joinus__item .shadow {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 24px;
    overflow: hidden;
    z-index: -1;
}

.joinus__item .shadow::before {
    content: "";
    position: absolute;
    display: block;
    width: 900px;
    height: 900px;
    background: red;
    border-radius: 50%;
    top: -480px;
    left: -280px;
    background: radial-gradient(circle, rgba(165, 20, 36, 1) 0%, rgba(63, 8, 14, 1) 70%, rgba(12, 12, 12, 1) 90%);
    opacity: 35%;
    filter: blur(50px);
}

.joinus__promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.joinus__promo h3 {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.01em;
    color: #F2F1F1;
}

.joinus__promo div.joinus__results {
    width: 536px;
    background: linear-gradient(180deg, #A51424 0%, #3F080E 100%);
    border-radius: 16px;
    padding: 32px;
}

.joinus__results h4 {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #F2F1F1;
    margin-bottom: 12px;
}

.joinus__results p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F2F1F1;
}

.joinus__program {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.joinus__plan,
.joinus__video {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.joinus__video {
    width: 536px;
}

.joinus__plan__item,
.joinus__video__item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.joinus__plan__item p,
.joinus__video__item p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F2F1F1;
}

.joinus__video__heading {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #F2F1F1;
}

.tariffs {
    position: relative;
}


.tariffs .main__shadow {
    position: absolute;
    width: 700px;
    height: 700px;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
    background: radial-gradient(circle, #F8CD8D 0%, #C58A34 25%, #0C0C0C 70%);
    z-index: -10;
    opacity: 0.2;
}

.tariffs__heading {
    text-align: center;
}

.tariffs__heading h5 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12em;
    color: #F2F1F1;
}

.tariffs__heading h2 {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.01em;
    margin-top: 8px;
    background: radial-gradient(ellipse 250px 250px at 68% 50%, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 1) 30%, rgb(97, 94, 94) 70%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.tarrifs__list {
    list-style: none;
    display: flex;
    padding: 0 112px;
    margin-top: 80px;
    gap: 32px;
    align-items: center;
}

.tarrifs__item {
    padding: 132px 32px 40px 32px;
    border-radius: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: calc((100% - 64px) / 3);
}

.tarrifs__item img.tarrifs__tablet {
    width: 150px;
    position: absolute;
    top: -47.5px;
    left: 50%;
    transform: translateX(-40%);
}

.recomandation {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.04em;
    margin-bottom: -24px;
    color: #F2F1F1;
    background: linear-gradient(133.69deg, #F8CD8D 25.45%, #C58A34 78.99%);
    padding: 4px 12px 6px 12px;
    border-radius: 8px;
}

.tarrifs__item h4 {
    font-family: "Oswald", sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.01em;
    color: #F2F1F1;
}

.tarrifs__program__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tarrifs__program__list li {
    display: flex;
    align-items: center;
    gap: 12px;
}

.tarrifs__program__list li p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F2F1F1;
}

.tarrifs__item button {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    background: linear-gradient(133.69deg, #F8CD8D 25.45%, #C58A34 78.99%);
    color: #181818;
    border: none;
    width: 100%;
    padding: 14px 0;
    border-radius: 8px;
}

.tarrifs__item:first-child::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0C0C0C;
    border-radius: 24px;
    z-index: -2;
}

.tarrifs__item:first-child::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(133.69deg, rgba(248, 205, 141, 0.32) 25.45%, rgba(197, 138, 52, 0.32) 78.99%);
    border-radius: 25px;
    z-index: -2;
}

.tarrifs__item .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0C0C0C;
    top: 0;
    left: 0;
    border-radius: 24px;
    overflow: hidden;
    z-index: -1;
}

.tarrifs__item .shadow::after {
    content: "";
    display: block;
    position: absolute;
    width: 800px;
    height: 800px;
    background: radial-gradient(circle, #F8CD8D 0%, #0C0C0C 70%);
    top: -320px;
    right: -320px;
    border-radius: 50%;
    opacity: 0.25;
}

.tarrifs__item:nth-child(2) {
    background: #F2F1F1;
}

.tarrifs__item:nth-child(3) {
    background: linear-gradient(180deg, #A51424 0%, #3F080E 100%);
}

.tarrifs__item:nth-child(2) h4 {
    color: #181818;
}

.tarrifs__item:nth-child(2) button {
    background: #181818;
    color: #F2F1F1;
    border: 1px solid #302F2F;
}

.tarrifs__item:nth-child(2) li img {
    filter: invert(1);
}

.tarrifs__item:nth-child(2) li p {
    color: #181818;
}

.installment {
    padding: 128px 112px;
}

.installment__blocks {
    padding: 64px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    position: relative;
}

.installment__blocks .background {
    position: absolute;
    bottom: 0;
    left: 0;
}

.promo__and__logo h2 {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.01em;
    color: #F2F1F1;
    margin-bottom: 32px;
}

.addinfo__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.addinfo__item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.addinfo__item p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #C9C8C8;
}

.addinfo button {
    border: none;
    background: linear-gradient(133.69deg, #F8CD8D 25.45%, #C58A34 78.99%);
    border-radius: 8px;
    padding: 14px 32px;
    color: #0C0C0C;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin-top: 48px;
}